.menu-bar {
    display: flex;
    gap: 1rem;
    background-color: #407efa;
    padding: 1rem;
    justify-content: center;
  }
  
  .menu-bar a {
    color: white;
    text-decoration: none;
  }
  
  .menu-bar a:hover {
    text-decoration: underline;
  }
  